html {
    transition: all 0.5s ease-in-out;
}

/* Normalización de estilos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilos generales para todo el sitio */
body {
    margin-left: 3%;
    margin-right: 3%;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #c2c2c2;
    background-image: url("rog2.jpg");
    background-size: cover; /* para ajustar la imagen al tamaño del viewport */
    opacity: 10; /* para difuminar la imagen */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    color: #ff0000;
}

a {
    color: #ff0000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
}

/* Header */
header {
    background-color: #ff0000;
    color: #fff;
    padding: 20px;
}

header h1 {
    font-size: 2.5rem;
}

/* Nav */
nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav ul {
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    color: #fff;
    padding: 10px;
}

nav a:hover {
    background-color: #ff0000;
    border-radius: 5px;
}

.idlogin {
  background-color: #00aeff;
  border-radius: 5px;
}

/* Main */
main section {
    max-width: 800px;
    margin: 30px auto;
    padding: 30px;
    border: 1px solid #ccc;
}

main h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
}

main p {
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Footer */
footer {
    background-color: #4d4d4d;
    color: #fff;
    padding: 10px;
    text-align: center;
}

img {
    border: 3px solid red;
    width: 640px;
    height: 380px;
  }

  form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  label,
  input,
  textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  
  label {
    font-size: 18px;
    font-weight: bold;
    color: red;
  }
  
  input,
  textarea {
    padding: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  button[type="submit"] {
    padding: 12px 24px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0062cc;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }

  th {
    background-color: #333333;
    color: white;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #ddd;
  }